/* Colores */
:root {
  --color-marron: #EBE1D2;
  --color-sepia: #F5ECD8; 
  --color-negro: #000000; 
}

/* Cabecera */
header {
  background-color: var(--color-marron);
  color: var(--color-negro);
  display: flex;
  justify-content: space-around;
  padding: 20px 50px;
}

header h1 img {
  width: auto;
  height: 50px;
}

h1#titulo {
  font-size: 50px;
}

nav#principal ul  {
  margin-top: 60px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

nav#principal li  {
  display: inline;
  margin: 5px;
  font-size: 20px;
}

nav#principal a {
  color: var(--color-negro);
  text-decoration-color: #8a4476;
}

/* Cuerpo y contenido principal */
body {
  background-color: var(--color-sepia);
  color: var(--color-negro);
  margin: 0;
  padding: 0;
}

main {
  margin: 20px 10%;
  font-size: 20px;
}

/* Imágenes */
.imagen-centrada{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

figcaption {
  margin: 5px;
  font-size: 16px;
}

img {
  height: 350px;
  width: auto;
}

/* Pie de página */
footer {
  background-color: var(--color-marron);
  padding: 25px 5%;
  font-size: 16px;
}

footer p {
  color: var(--color-negro);
}